<% ingredients.slice(start, end).forEach(ingredient => { %>
	<li data-value="<%= ingredient.id %>" tabindex="0">
		
		<p><%= ingredient.name %></p>
		<img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" title="<%= ingredient.name %>" width="100" height="100">						
		<p><%= ingredient.id %></p>
		<p><%= ingredient.description %></p>
	</li>
<% }) %>